{% extends 'base.html' %}

{% block content %} 
<h1>Welcome home</h1>
<hr>
<h3>Reminders</h3>
<br>
<p><b>Reminders</b> is just like a note book where you can store all of your events or apointement that you 
    don't wont to forget and in reminders we help you to remember all by keep remeber you in text
     message that the date you entered in right in the corner so that we remeber you before youe 
     date so that you can prepare your thing and orginaze every thing before it.</p>

{% endblock content %}



   